.notice-card {
  &-wrapper {
    background-color: #eee;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &-content {
    table {
      tr {
        td {
          display: flex;
          flex-direction: column;
          svg {
            font-size: 2rem;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}