.header {
  font-size: 2.4rem;
  font-weight: 700;
}
.wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  .cardWrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .cardContent {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    .form-field:first-child {
      margin: 0;
    }
  }
}
.formButton {
  display: flex;
  justify-content: flex-end;
  button {
    cursor: pointer;
    background-color: #a6cbf8;
    border: none;
    border-radius: 2rem;
    padding: 0.675rem 1.5rem;
    font-size: 1rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    &:hover{
      background-color: #d3e5fc;
    }
  }
}
