.register {
  background-image: url('../../assets/doctors1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  &-header {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    p:nth-child(1){
      font-size: 5rem;
      font-weight: 700;
      margin: 0;
    }
    p:nth-child(2){
      font-size: 1.2rem;
      margin: 0 0 0 5px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: auto 0;
    overflow: scroll;
    &-header {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
    }
    &-description {
      font-size: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-button {
        cursor: pointer;
        height: 50px;
        background-color: #a6cbf8;
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin-top: 1rem;
        &:hover{
          background-color: #d3e5fc;
        }
      }
    }
  }
  &-login-link {
    text-align: center;
    margin-top: 0.5rem;
    a {
      color: #0000ff;
    }
  }
}
