$color-black: #000000;
$color-white: #ffffff;

body {
  background-color: #f7f9fb;
  color: $color-black;
}

a {
  text-decoration: none;
  color: $color-black;
}

li {
  list-style-type: none;
}

.dashboard {
  display: flex;
  height: 100vh;
  &-navigation {
    margin-top: 2rem;
    width: 300px;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
    }
    &-links {
      margin-top: 3rem;
      .link {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin: 1rem 2rem;
        padding: 0.875rem 5rem;
        &-icon {
          display: flex;
          position: absolute;
          left: 50px;
          padding: 0.5rem;
          border-radius: 0.5rem;
          box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
        }
        &:hover {
          background-color: $color-white;
          border-radius: 0.5rem;
          box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
        }
        &.active {
          background-color: $color-white;
          border-radius: 0.5rem;
          box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
        }
      }
      button.link {
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }
  &-content {
    width: 100%;
    margin: 2rem;
    &-header {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}