.dashboard-history-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  .card {
    &-wrapper {
      margin-top: 1rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    }
    &-labels {
      table {
        width: 100%;
        tr {
          display: flex;
          padding: 0 1rem;
          th {
            display: flex;
            flex-basis: 20%;
            padding: 0;
          }
        }
      }
    } 
    &-content {
      table {
        width: 100%;
        tr {
          display: flex;
          padding: 1rem;
          td {
            display: flex;
            flex-basis: 20%;
            padding: 0;
            a {
              color: blue;
            }
          }
          td:last-child {
            display: flex;
            justify-content: flex-end;
            a {
              color: inherit;
            }
          }
        }
      }
    }
  }
}
