.link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.5rem 2rem;
  padding: 0.875rem 5rem;
  &-icon {
    display: flex;
    position: absolute;
    left: 50px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  &:hover {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
  }
  &.active {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    .link-icon {
      background-color: #000;
      svg {
        color: #fff;
      }
    }
  }
}