.header {
  font-size: 2.4rem;
  font-weight: 700;
}
.wrapper {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  .cardWrapper {
    flex: 1 0 41%;
  }
  .cardHeader {
    font-size: 1.4rem;
  }
  .cardContent {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    height: fit-content;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    a {
      display: flex;
      justify-content: flex-end;
    }
    table {
      width: 100%;
      tr {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        gap: 1rem;
      }
      tr.showDetails {
        justify-content: flex-end;
        padding: 0;
      }
      tr:last-child {
        padding: 0;
      }
    }
  }
}
