.cardWrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 300px;
}
.cardHeader {
  font-size: 1.4rem;
  font-weight: 700;
}
.formButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
  button {
    cursor: pointer;
    background-color: #a6cbf8;
    border: none;
    border-radius: 2rem;
    padding: 0.675rem 1.5rem;
    font-size: 1rem;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    &:hover{
      background-color: #d3e5fc;
    }
  }
}
